@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 210 10% 20%;
}

html, body {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

.container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

/* react-big-calendar styles */
@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles.css';
